<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buddy-Up</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
<body>
    <header>
        <h1>Login Page Works!</h1>
    </header>
   <main>
       <a href="/auth/meetup" class="meetup-btn">Login with Meetup</a>
   </main> 
    <script src="app.js"></script>
</body>
</html>